<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Island Hospital testsuit funtional">

    //added extent report listner to xml file--connectivity between extent report and xml suite file//
	<listeners>
		<listener class-name="com.IslandHMS.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Island Hospital test funtional">
		<classes>
			<class name="com.IslandHMS.qa.DoctorTestcases.Patient_Test"></class>
		</classes>
	</test>
</suite>